<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
 <%= link_to "Singin in with Git Hub", "/auth/github" %><br />
 <%= link_to "Singin in with Git Facebook", "/auth/facebook" %>
</div>

<%= yield %>

</body>
</html>
